yarn-error.log
stats.json
globalConfig.json
debug.log
/scripts/cypress/
/node_modules
/lib
/functions
/dist
/cypress/videos/
/cypress/support
/cypress/screenshots
/cypress/integration/examples
/cypress/fixtures
/RAW
/.netlify
/.git
.netlify
.env
*/*.js
*.map
!/docs/**/*.js
!/dist/css/simple-comment-style.css
!/cypress/**/*.js
