*.js
.env
/.git
/.netlify
/RAW
/cypress/fixtures
/cypress/integration/examples
/cypress/screenshots
/cypress/support
/cypress/videos/
/functions
/lib
/node_modules
debug.log
globalConfig.json
yarn-error.log
!/cypress/**/*.js
!/docs/**/*.js
!webpack.config.js
!webpack.netlify.functions.js

# Local Netlify folder
.netlify
