.simple-comment {
  // resets
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif;

  background-color: red;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  figure,
  pre,
  dl,
  dd,
  blockquote,
  input[type="radio"],
  input[type="checkbox"] {
    margin: 0;
  }

  legend {
    padding: 0;
  }

  fieldset,
  ul,
  ol {
    padding: 0;
    margin: 0;
  }

  ul,
  ol {
    list-style: none;
  }

  body {
    line-height: 1;
  }

  main,
  figure,
  figcaption,
  img {
    display: block;
  }

  /*--- <main> for IE 11 ---*/
  img {
    max-width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
  }

  fieldset {
    border: 0;
  }

  input,
  textarea,
  select,
  button {
    display: block;
    max-width: 100%;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
  }

  label {
    display: table;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="search"] {
    -webkit-appearance: none;
    appearance: none;
  }

  /*--- for Safari (add/remove types as needed) ---*/
  button {
    line-height: inherit;
  }

  button::-moz-focus-inner {
    border: 0;
  }

  /*--- for Firefox ---*/

  /* Skeleton styles */
  .skeleton {
    /* Create a background color animation to simulate shimmer effect */
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.2) 25%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0.2) 75%
    );
    background-size: 200% 100%;
    animation: shimmer 1s infinite;
  }

  /* Animation keyframes for shimmer effect */
  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }

  .button-row {
    display: flex;
    direction: row;
    justify-content: flex-end;
  }

  .simple-comment-login {
    .self-display {
      display: flex;
      margin-bottom: 0;

      .button-placeholder {
        height: 2.5rem;
        width: 7rem;
        margin: 0 1rem;
      }

      > :last-child {
        align-items: end;
        align-self: end;
      }
    }

    .self-avatar {
      flex: 0 0 70px;
      margin: 0.5rem;
      margin-right: 1.3rem;

      img {
        background-color: gray;
      }

      > :first-child {
        width: 70px;
        height: 70px;
        border-radius: 50%;
      }
    }

    .self-info {
      flex: 1;

      h2 {
        margin: 0;
        font-size: 1.2em;
      }

      p {
        margin: 0.5em 0;
      }
    }

    .context-switcher {
      margin-bottom: 3rem;
    }
  }

  .simple-comment-discussion {
    .comment {
      .comment-header {
        min-height: unset;
        height: 2.4rem;
        align-items: center;

        .user-avatar {
          flex: 0 0 45px;
          margin: 0.5rem;
          margin-right: 1.3rem;

          img {
            background-color: gray;
            color: transparent; // visually hide the alt text
          }

          > :first-child {
            width: 45px;
            height: 45px;
            border-radius: 50%;
          }
        }
      }

      .comment-body {
        margin-left: 0.5rem;
      }

      .comment-replies {
        margin-left: 1rem;
        padding-left: 1rem;
      }
    }
  }
}
