@use "sass:color";

$corporate-blue: #3287e6;
$error-red: #d9534f;
$success-green: #28a745;
$inset-shadow-color: color.change($corporate-blue, $alpha: 0.5);

.simple-comment {
  // resets

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #f8fcff;
  color: #33475c;
  font-family: var(--interface-font-family), -apple-system, BlinkMacSystemFont,
    "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.61111rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin: 0 auto;
  width: 38rem;

  * {
    box-sizing: border-box;
  }

  input,
  textarea {
    border: 1px solid $corporate-blue;
    font-family: var(--input-font-family), monospace;
    font-size: 1.2rem;
    padding: 0.5rem;
    width: 100%;

    box-shadow: 0 0 0.3rem 0 $inset-shadow-color inset;

    &:focus-visible {
      outline: 1px solid $corporate-blue;

      &.is-error {
        border: 1px solid $corporate-blue;
      }
    }
  }

  input {
    height: 3rem;
  }

  textarea {
    display: block;
    height: 7rem;
  }

  button {
    appearance: none;
    background-color: transparent;
    background: transparent;
    border: 1px solid $corporate-blue;
    cursor: pointer;
    font-size: inherit;
    width: 7rem;
    padding: 0.5rem 1rem;
    text-align: center;

    &:hover {
      font-weight: bold;
    }
  }

  /* Skeleton styles */
  .skeleton {
    /* Create a background color animation to simulate shimmer effect */
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.2) 25%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0.2) 75%
    );
    background-size: 200% 100%;
    animation: shimmer 1s infinite;
  }

  /* Animation keyframes for shimmer effect */
  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }

    100% {
      background-position: 200% 0;
    }
  }

  .button-row {
    display: flex;
    direction: row;
    justify-content: flex-end;

    :last-child {
      margin-right: 0;
    }
  }

  .input-field {
    margin-bottom: 0.5rem;

    .helper-text {
      color: #7f8893;
      font-style: italic;
      margin: 0;
      min-height: 1.5rem;
    }

    &.is-error {
      .input-element {
        border: 1px solid $error-red;
      }

      .helper-text {
        color: $error-red;
      }
    }

    &.is-success {
      .input-element {
        border: 1px solid $success-green;
      }

      .helper-text {
        color: $success-green;
      }
    }
  }

  .self-display {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .button-placeholder {
      height: 2.5rem;
      width: 7rem;
      margin: 0 1rem;
    }

    > :last-child {
      align-items: end;
      align-self: end;
    }

    .self-avatar {
      flex: 0 0 4.5rem;
      margin: 0;
      margin-right: 1.3rem;

      img {
        background-color: gray;
      }

      > :first-child {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
      }
    }

    .self-info {
      flex: 1;

      h2 {
        margin: 0;
        font-size: 1.2rem;
      }

      p {
        margin: 0;
      }
    }
  }

  .simple-comment-login {
    margin-bottom: 3rem;

    #status-display {
      &.is-error {
        color: $error-red;
      }
    }

    .selection-tabs {
      margin-bottom: 1rem;

      .selection-tab {
        border: 0;
        margin: 0;
        border-bottom: 1px solid $corporate-blue;
        border-radius: 0;
        color: $corporate-blue;

        &:hover:not(.selected) {
          color: inherit;
          font-weight: normal;
          border: $corporate-blue 1px solid;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          border-bottom-style: dashed;
        }

        &.selected {
          font-weight: bold;
          border: $corporate-blue 2px solid;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          cursor: pointer;
          border-bottom: none;
        }
      }
    }
  }

  .simple-comment-discussion {
    form.comment-form {
      .comment-submit-button {
        width: 10rem;
      }
    }

    ul.comment-replies {
      list-style: none;
      padding: 0;
      margin: 0;

      &:not(.is-root) {
        margin-left: 1rem;
      }

      li.comment {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-bottom: 3rem;

        .comment-header {
          min-height: unset;
          align-items: center;
          display: flex;
          flex-direction: row;

          p {
            margin: 0;
            padding: 0;
          }

          .user-avatar {
            flex: 0 0 3rem;
            margin-right: 1.3rem;
            display: inline-flex;

            img {
              background-color: gray;
              color: transparent; // visually hide the alt text
            }

            > :first-child {
              width: 3rem;
              height: 3rem;
              border-radius: 50%;
            }
          }

          .comment-info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: calc(
              100% - 3rem - 1.3rem
            ); // Subtract the width and margin of the .user-avatar

            .user-name {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              color: $corporate-blue;
              font-weight: bold;
              margin-right: 1rem;
            }

            .comment-date {
              white-space: nowrap;
            }
          }
        }

        .comment-body {
          margin-left: 0.5rem;
          position: relative;
          font-family: var(--comment-font-family), -apple-system,
            BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: -10px;
            /* Adjust as needed */
            border-left: 1px solid $corporate-blue;
            /* Adjust as needed */
          }
        }
      }
    }
  }
}
